<h4 style="text-decoration: underline;">{{ type }}</h4>
<table class="poster-table">{% for poster in posters %}
    <tr id="poster">
        <td>
            <span class="poster-title">{{ poster.title }}. </span><em>{{ poster.authors }}</em>
        </td>
    </tr>{% endfor %}
</table>
